# This is a basic workflow to help you get started with Actions

name: DEPLOY

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch:
          - x64
          - arm64
        node-version:
          - node16
        os:
          - linux
          - macos
          - win
    steps:
      - name: yarn
        run: yarn install
      - name: git
        run:
             git clone https://github.com/yossTheDev/mots.git mots
             
      - name: cd
        run: cd mots
        
      - name: install
        run: yarn
        
      - name: install pkg
        run: npm install -g pkg 
        
      - name: pkg
        run: pkg .
            
      - name: Package into node binary
        uses: lando/pkg-action@v2
        with:
          entrypoint: './'
          arch: ${{ matrix.arch }}
          node-version: ${{ matrix.node-version }}
          os: ${{ matrix.os }}
